name: CI / Automated testing

on:
  pull_request:
    branches:
      - master

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm ci
  lint:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm run lint
  test:
    strategy:
      matrix:
        node: [ 14, 16, 18 ]
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - if: ${{ matrix.node != 14 }}
        run: npm ci
      - run: npm run test
